<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <link
      href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

  <script type="text/javascript" src="/js/favourite.js"></script>
  <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        li {
        display: inline;
        }
        body {
        background: url("../images/bc1.png") no-repeat center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
            }

  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/favourites">Favourites <span class="sr-only">(current)</span></a></li>
      <li><a href="/cocktails">Cocktails</a></li>
      <li><a href="/questions">Recommend me a cocktail</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>